body {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    height: 100%;
    color: #515B66;
    background-color: #2E2D37;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5, 
h6{
  margin: 0 0 35px;
 
  
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
    font-size: 1.6em;
    color: black;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: white;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  background-color: #515B66;
}

.navbar-custom .navbar-toggle {
  color: #515B66;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: white;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #515B66;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background: url(../img/banner_no_title.png) no-repeat bottom center fixed;  
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#aboutus {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/aboutUs.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#aboutus:hover{
    filter: contrast(30%);
}

#aboutusbanner {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/aboutUs.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#projects {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/projects.png) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#projects:hover{
    filter: contrast(30%);
}

#projectsbanner {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/projects.png) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#thegear {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/gear.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#thegearbanner {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/gear.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#thegear:hover{
    filter: contrast(30%);
}

#contactus {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/contactus.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#contactus {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/contactus.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#contactus:hover{
    filter: contrast(30%);
}

#contactusbanner {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/contactus.jpg) no-repeat bottom center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
/*smooth hover effect*/
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

.sect h1{
    font-size: 5em;
    border
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

.logo{
    display: table;
    margin: 0 auto;
    height: 200px;
    width: auto;
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 5%;
  padding: 7px 16px;
  border: 2px solid black;
  border-radius: 100% !important;
  font-size: 40px;
  color: black;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/downloads-bg.jpg) no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  margin: 0;
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}



/*Custom CSS*/
#DM{
    padding-top: 50px;
    display: table;
    margin: 0 auto;
    width: 75%;
    height: auto;
}

.divider{
    height: 25%;
    width: 100%;
    background-color: #2E2D37;
}


.social{
    font-size: 5em;
    padding-bottom: 20px;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.content h1{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: white;
    font-size: 4em;
}

.content h2{
    text-align: center;
    color: #176A36;
}

.content p{
    font-family: 'Yanone Kaffeesatz'; 
    text-align: center;
    font-size: 2.2em;
}

.hline{
    display: table;
    margin: 0 auto;
    margin-bottom: 80px;
    height: 2px;
    width: 75%;
    background-color: #89291B;
}

.storyimg{
    display: table;
    margin: 0 auto;
    height: auto;
    width: 500px;
    border-radius: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}
/* for smaller screens */
@media (max-width: 600px){
    .storyimg{
        width: 90%;
    }
}

.video{
    display: table;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 1160px;
    height: 630px;
    
}
@media (max-width: 1383px){
    .video{
        margin-bottom: 100px;
        width: 560px;
        height: 315px;
    }
}
.img{
    display: table;
    margin: 0 auto;
    width: 55%;
    height: auto;
}
.link{
    font-size: 1em;
}


/* Contact Form */
form {
    margin-left:auto;
    margin-right:auto;
    width: 343px;
    height: 400px;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea{
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 276px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
	  padding-left:45px;
}

input.email {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
	  padding-left:45px;
}

input.message {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
	  padding-left:45px;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}

input:focus, textarea:focus { 
	  background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	  overflow: hidden; 
}

.sbtn {
    width: 138px;
    height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:right;
    border: 1px solid #253737;
    background-color: #176A36;
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.sbtn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background-color: white;
    color: black;
 }

.sbtn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background-color: red;
    color: black;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }

